.Module.symvers.cmd
.modules.order.cmd
.nct6687.ko.cmd
.nct6687.mod.cmd
.nct6687.mod.o.cmd
.nct6687.o.cmd
linux-headers
Module.symvers
modules.order
nct6687.ko
nct6687.mod
nct6687.mod.c
nct6687.mod.o
nct6687.o
.vscode/
5.1*/

dkms/

debian/changelog
debian/nct6687d-dkms*
debian/.debhelper
debian/debhelper-build-stamp
debian/files
